.del {
  background-color: rgba(128, 128, 128, 0.517);
    color: rgb(255, 255, 255);
    border: none;
    padding: 5px 9px;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    font-size: 11px;
  }
  
  .todo {
    background: #f4f4f4;
    padding: 10px;
    border-bottom: solid gray 0.2px;
  }
  
  .is-completed {
    text-decoration: line-through;
  }